services:
  app:
    build: 
      context: ./app
      dockerfile: Dockerfile
    container_name: ia-app
    network_mode: "service:provider"
    depends_on:
      - provider
    volumes:
      - ./app/storage:/code/storage

  provider:
    build:
      context: ./provider
    container_name: ia-provider
    ports:
      - "3001:3001"
      - "5000:5000"
    healthcheck:
      test: ["CMD", "python", "-c", "import urllib.request; urllib.request.urlopen('http://localhost:3001/docs')"]
      interval: 5s
      timeout: 5s
      retries: 5

  load-test:
    image: grafana/k6:latest
    volumes:
      - ./platform/k6:/scripts
    entrypoint: ["k6", "run", "--out", "influxdb=http://influxdb:8086/k6", "/scripts/test.js"]
    environment:
      - TARGET_URL=http://provider:5000
    depends_on:
      app:
        condition: service_started
      provider:
        condition: service_healthy
      influxdb:
        condition: service_healthy

  influxdb:
    image: influxdb:1.8
    container_name: ia-influxdb
    volumes:
      - ./platform/influxdb:/docker-entrypoint-initdb.d
    environment:
      - INFLUXDB_DB=k6
    healthcheck:
      test: ["CMD", "curl", "-sL", "-I", "localhost:8086/ping", "--fail"]
      interval: 5s
      timeout: 5s
      retries: 5

  grafana:
    image: grafana/grafana:latest
    container_name: ia-grafana
    ports:
      - "3000:3000"
    volumes:
      - ./platform/grafana/provisioning:/etc/grafana/provisioning
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=admin
      - GF_AUTH_ANONYMOUS_ENABLED=true
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
    depends_on:
      - influxdb

  provider-check:
    image: grafana/k6:latest
    container_name: ia-provider-check
    volumes:
      - ./platform/k6:/scripts
    command: run /scripts/health-check.js
    depends_on:
      - provider
